[Desktop Entry]
Type=Application
Name[en_IN]=
Categories=
X-GNOME-FullName[en_IN]=
Comment[en_IN]=
Icon=
NoDisplay=false
Exec=
Path=
Terminal=false
X-GNOME-UsesNotifications=false
